---
import Layout, { type Props as LayoutProps } from '~/layouts/layout.astro'

const page = {
  title: 'About Page',
  description: 'This is the about page.'
} satisfies LayoutProps
---

<Layout {...page}>
  <h1>{page.title}</h1>
  <p>
    This is Astro Base Template by <a href='/sngrcreative' target='_blank'>
      SNGR Creative.
    </a>
  </p>
  <a href='/' role='button'>Home</a>
</Layout>
