---
import Layout from '~/layouts/layout.astro'
import Hero from '~/components/home/hero/hero.astro'
import Background from '~/components/home/background.astro'

import { getEntry } from 'astro:content'

const home = await getEntry('home', 'home')
if (!home) {
  throw new Error('No home data found.')
}
---

<Layout>
  <main class='min-h-screen'>
    <Hero home={home} />
    <Background home={home} />
  </main>
</Layout>
