---
import Layout from '~/layouts/layout.astro'
---

<Layout>
  <h1>Hello World!</h1>
  <p>
    This is Astro Base Template by <a href='/sngrcreative' target='_blank'>
      SNGR Creative.
    </a>
  </p>
  <a href='/about' role='button'>About</a>
</Layout>
