---
import { getEntry } from 'astro:content'

export interface Props {
  title?: string | undefined
  description?: string | undefined
  canonical?: string | undefined
}

const { title, description, canonical } = Astro.props

const site = await getEntry('site', 'site')
---

{/** Required meta tags */}
<title>{title ? `${title} — ${site!.data.title}` : site!.data.title}</title>
<meta
  name='description'
  content={description ? description : site!.data.description}
/>
<link rel='canonical' href={canonical || Astro.url} />

{/** Favicon */}
<link rel='icon' type='image/svg+xml' href={site!.data.favicon} />
